// colors

    $a-col:#cfa54b;
   $b-col: #343434;
   $c-col:#b7ae9b;
   $d-col:#feb518;
   $white-col:#ffffff;
   $black-col:#000000; 
   $button-i-col:#859098;
   $border-col:#5a5959;
   $para-col:#888888;
   
// fonts-weight

$regular:400;
$medium:500;
$bold:700;
$extrabold:800;
