@media(max-width:1200px) {
    .product_heading  {
        font-size: 37px;
    }
    .product_button {
        padding: 8px 26px;
    }
    .product_1-content {
        left: 16%;
    }
}

@media(max-width:992px){
    .section3_para  {
        width: 100%;
    }
    .product_1-img {
        margin-top: 4%;
    }
}

@media(max-width:600px){
    .product_heading {
        font-size: 32px;
    }
    .product_para {
        font-size: 15px;
    }
    .product_button {
        font-size: 12px;
    }
}

@media(max-width:768px){
    .product_1-img {
        margin-bottom: 5%;
    }
    .products {
        margin-bottom: 5%;
        text-align: center;
    }
    .product_1-content {
        left: 9%;
    }
    .section-2 {
        background-position: left;
    }
    .section3_para {
        font-size: 15px;
    }
    .section2_content {
        text-align: center;
        margin-top: 0;
        margin-bottom: 8%;
    }
}
@media(max-width:579px){
    .product_1-img {
        width: 69%;
        margin: auto;
        margin-bottom: 5%;
    }
    .product_1-content {
        left: 31%;
    }
}
@media(max-width:500px){
    .product_1-img {
        width: 85%;
    }
    .product_1-content {
        left: 27%;
    }

}
@media(max-width:400px){
    .product_1-img {
        width: 100%;
    }
    .product_1-content {
        left: 18%;
    }
}